.recent__project-card {
    border-radius: 15px;
    background: var(--recent-project-bg);
    box-shadow: var(--skill-shadow);
    border: var(--skill-border);
    backdrop-filter: blur(20px);
    padding: 2rem;
}

.project__slide-up {
    animation: slide-in-bottom cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.btn__link {
    border-radius: 0.5rem;
    border: 1px solid #b7b4b4;
}

.hover {
    --s: 0.1em;   /* the thickness of the line */
    --c: #1095c1; /* the color */
    
    color: #0000;
    padding-bottom: var(--s);
    background: 
      linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 0.5s;
}

.hover:hover {
    --_p: 100%
}

@keyframes slide-in-bottom {
    0% {
        transform: translateY(1000px);
        opacity: 0;
      }
    100% {
        transform: translateY(0);
        opacity: 1;
      }
}